{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://adminmanagement.local.azurestack.external/"
        }
    ],
    "info": {
        "description": "The Admin Backup Management Client.",
        "title": "BackupManagementClient",
        "version": "2018-09-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/preview/2018-09-01/Backups.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "azsadmin-Backups",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups": {
            "get": {
                "description": "Returns a list of backups from a location.",
                "operationId": "Backups_List",
                "parameters": [
                    {
                        "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the backup location.",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2018-09-01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of backups.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "URI to the next page.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of backups.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "Base Resource Object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "URI of the resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Location of the resource.",
                                                                "readOnly": false,
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Name of the resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "List of key value pairs.",
                                                                "readOnly": false,
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "Type of resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "x-ms-azure-resource": true
                                                    }
                                                ],
                                                "description": "Information related to a backup.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Properties for a backup.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "backupInfo": {
                                                                "description": "Holds information for a backup.",
                                                                "x-ms-client-flatten": true,
                                                                "properties": {
                                                                    "backupDataVersion": {
                                                                        "description": "Version of the backup data.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "createdDateTime": {
                                                                        "description": "Creation time of the backup.",
                                                                        "format": "date-time",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "deploymentID": {
                                                                        "description": "Deployment Id of the stamp.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "encryptionCertThumbprint": {
                                                                        "description": "The thumbprint of the certificate used to encrypt the backup encryption key.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "oemVersion": {
                                                                        "description": "OEM version.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "roleStatus": {
                                                                        "description": "Backup status for each role.",
                                                                        "readOnly": true,
                                                                        "items": {
                                                                            "description": "Backup status for a role.",
                                                                            "properties": {
                                                                                "roleName": {
                                                                                    "description": "Name of the role.",
                                                                                    "type": "string"
                                                                                },
                                                                                "status": {
                                                                                    "description": "Status of the role.",
                                                                                    "enum": [
                                                                                        "Creating",
                                                                                        "Queued",
                                                                                        "Running",
                                                                                        "Deleted",
                                                                                        "Failed",
                                                                                        "PartialSucceeded",
                                                                                        "Succeeded"
                                                                                    ],
                                                                                    "type": "string",
                                                                                    "x-ms-enum": {
                                                                                        "modelAsString": false,
                                                                                        "name": "OperationStatus"
                                                                                    }
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "stampVersion": {
                                                                        "description": "Azure Stack stamp version of the backup.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "status": {
                                                                        "description": "Current status of the backup.",
                                                                        "readOnly": true,
                                                                        "enum": [
                                                                            "Creating",
                                                                            "Queued",
                                                                            "Running",
                                                                            "Deleted",
                                                                            "Failed",
                                                                            "PartialSucceeded",
                                                                            "Succeeded"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": false,
                                                                            "name": "OperationStatus"
                                                                        }
                                                                    },
                                                                    "timeTakenToCreate": {
                                                                        "description": "Duration to create the backup.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Backups"
                ],
                "x-ms-examples": {
                    "Returns a list of backups from a location.": {
                        "parameters": {
                            "api-version": "2018-09-01",
                            "location": "local",
                            "resourceGroupName": "System.local",
                            "subscriptionId": "11111111-2222-3333-4444-555555555555"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nextLink": "",
                                    "value": [
                                        {
                                            "id": "/subscriptions/11111111-2222-3333-4444-555555555555/resourceGroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local/backups/64e8625a-8dc0-49df-a195-932901b4be81",
                                            "location": "local",
                                            "name": "64e8625a-8dc0-49df-a195-932901b4be81",
                                            "properties": {
                                                "backupInfo": {
                                                    "backupDataVersion": "1.0.1",
                                                    "createdDateTime": "2018-08-28T07:47:11.3081476Z",
                                                    "deploymentID": "d3236bc0-6a46-4877-a9da-6fe69e9661df",
                                                    "encryptionCertThumbprint": "BDB07F879C1F1A05B74EB43AEAF5E5B5F84DCEA8",
                                                    "oemVersion": null,
                                                    "roleStatus": [
                                                        {
                                                            "roleName": "NRP",
                                                            "status": "Succeeded"
                                                        },
                                                        {
                                                            "roleName": "SRP",
                                                            "status": "Succeeded"
                                                        },
                                                        {
                                                            "roleName": "CRP",
                                                            "status": "Succeeded"
                                                        },
                                                        {
                                                            "roleName": "KeyVaultInternalControlPlane",
                                                            "status": "Succeeded"
                                                        },
                                                        {
                                                            "roleName": "KeyVaultInternalDataPlane",
                                                            "status": "Succeeded"
                                                        },
                                                        {
                                                            "roleName": "KeyVaultControlPlane",
                                                            "status": "Succeeded"
                                                        },
                                                        {
                                                            "roleName": "KeyVaultDataPlane",
                                                            "status": "Succeeded"
                                                        },
                                                        {
                                                            "roleName": "KeyVaultNamingService",
                                                            "status": "Succeeded"
                                                        },
                                                        {
                                                            "roleName": "WAS",
                                                            "status": "Succeeded"
                                                        },
                                                        {
                                                            "roleName": "ECE",
                                                            "status": "Succeeded"
                                                        },
                                                        {
                                                            "roleName": "Domain",
                                                            "status": "Succeeded"
                                                        },
                                                        {
                                                            "roleName": "CA",
                                                            "status": "Succeeded"
                                                        },
                                                        {
                                                            "roleName": "ACS",
                                                            "status": "Succeeded"
                                                        }
                                                    ],
                                                    "stampVersion": "1.1809.0.25",
                                                    "status": "Succeeded",
                                                    "timeTakenToCreate": "PT20M48.5970829S"
                                                }
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Backup.Admin/backupLocations/backups"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {}
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups/{backup}": {
            "get": {
                "description": "Returns a backup from a location based on name.",
                "operationId": "Backups_Get",
                "parameters": [
                    {
                        "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the backup location.",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the backup.",
                        "in": "path",
                        "name": "backup",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2018-09-01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "Base Resource Object",
                                            "properties": {
                                                "id": {
                                                    "description": "URI of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Location of the resource.",
                                                    "readOnly": false,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Name of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "List of key value pairs.",
                                                    "readOnly": false,
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "Type of resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-azure-resource": true
                                        }
                                    ],
                                    "description": "Information related to a backup.",
                                    "properties": {
                                        "properties": {
                                            "description": "Properties for a backup.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "backupInfo": {
                                                    "description": "Holds information for a backup.",
                                                    "x-ms-client-flatten": true,
                                                    "properties": {
                                                        "backupDataVersion": {
                                                            "description": "Version of the backup data.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "createdDateTime": {
                                                            "description": "Creation time of the backup.",
                                                            "format": "date-time",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "deploymentID": {
                                                            "description": "Deployment Id of the stamp.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "encryptionCertThumbprint": {
                                                            "description": "The thumbprint of the certificate used to encrypt the backup encryption key.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "oemVersion": {
                                                            "description": "OEM version.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "roleStatus": {
                                                            "description": "Backup status for each role.",
                                                            "readOnly": true,
                                                            "items": {
                                                                "description": "Backup status for a role.",
                                                                "properties": {
                                                                    "roleName": {
                                                                        "description": "Name of the role.",
                                                                        "type": "string"
                                                                    },
                                                                    "status": {
                                                                        "description": "Status of the role.",
                                                                        "enum": [
                                                                            "Creating",
                                                                            "Queued",
                                                                            "Running",
                                                                            "Deleted",
                                                                            "Failed",
                                                                            "PartialSucceeded",
                                                                            "Succeeded"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": false,
                                                                            "name": "OperationStatus"
                                                                        }
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "stampVersion": {
                                                            "description": "Azure Stack stamp version of the backup.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "description": "Current status of the backup.",
                                                            "readOnly": true,
                                                            "enum": [
                                                                "Creating",
                                                                "Queued",
                                                                "Running",
                                                                "Deleted",
                                                                "Failed",
                                                                "PartialSucceeded",
                                                                "Succeeded"
                                                            ],
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "modelAsString": false,
                                                                "name": "OperationStatus"
                                                            }
                                                        },
                                                        "timeTakenToCreate": {
                                                            "description": "Duration to create the backup.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Backups"
                ],
                "x-ms-examples": {
                    "Returns a backup from a location based on name.": {
                        "parameters": {
                            "api-version": "2018-09-01",
                            "backup": "64e8625a-8dc0-49df-a195-932901b4be81",
                            "location": "local",
                            "resourceGroupName": "System.local",
                            "subscriptionId": "11111111-2222-3333-4444-555555555555"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/11111111-2222-3333-4444-555555555555/resourceGroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local/backups/64e8625a-8dc0-49df-a195-932901b4be81",
                                    "location": "local",
                                    "name": "64e8625a-8dc0-49df-a195-932901b4be81",
                                    "properties": {
                                        "backupInfo": {
                                            "backupDataVersion": "1.0.1",
                                            "createdDateTime": "2018-08-28T07:47:11.3081476Z",
                                            "deploymentID": "d3236bc0-6a46-4877-a9da-6fe69e9661df",
                                            "encryptionCertThumbprint": "BDB07F879C1F1A05B74EB43AEAF5E5B5F84DCEA8",
                                            "oemVersion": null,
                                            "roleStatus": [
                                                {
                                                    "roleName": "NRP",
                                                    "status": "Succeeded"
                                                },
                                                {
                                                    "roleName": "SRP",
                                                    "status": "Succeeded"
                                                },
                                                {
                                                    "roleName": "CRP",
                                                    "status": "Succeeded"
                                                },
                                                {
                                                    "roleName": "KeyVaultInternalControlPlane",
                                                    "status": "Succeeded"
                                                },
                                                {
                                                    "roleName": "KeyVaultInternalDataPlane",
                                                    "status": "Succeeded"
                                                },
                                                {
                                                    "roleName": "KeyVaultControlPlane",
                                                    "status": "Succeeded"
                                                },
                                                {
                                                    "roleName": "KeyVaultDataPlane",
                                                    "status": "Succeeded"
                                                },
                                                {
                                                    "roleName": "KeyVaultNamingService",
                                                    "status": "Succeeded"
                                                },
                                                {
                                                    "roleName": "WAS",
                                                    "status": "Succeeded"
                                                },
                                                {
                                                    "roleName": "ECE",
                                                    "status": "Succeeded"
                                                },
                                                {
                                                    "roleName": "Domain",
                                                    "status": "Succeeded"
                                                },
                                                {
                                                    "roleName": "CA",
                                                    "status": "Succeeded"
                                                },
                                                {
                                                    "roleName": "ACS",
                                                    "status": "Succeeded"
                                                }
                                            ],
                                            "stampVersion": "1.1809.0.25",
                                            "status": "Succeeded",
                                            "timeTakenToCreate": "PT20M48.5970829S"
                                        }
                                    },
                                    "tags": {},
                                    "type": "Microsoft.Backup.Admin/backupLocations/backups"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups/{backup}/restore": {
            "post": {
                "description": "Restore a backup.",
                "operationId": "Backups_Restore",
                "parameters": [
                    {
                        "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the backup location.",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of the backup.",
                        "in": "path",
                        "name": "backup",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2018-09-01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "202": {
                        "description": "ACCEPTED"
                    }
                },
                "tags": [
                    "Backups"
                ],
                "x-ms-examples": {
                    "Restore a backup.": {
                        "parameters": {
                            "api-version": "2018-09-01",
                            "backup": "64e8625a-8dc0-49df-a195-932901b4be81",
                            "location": "local",
                            "resourceGroupName": "System.local",
                            "restoreOptions": {
                                "decryptionCertBase64": "decryptionCert",
                                "decryptionCertPassword": "decryptionCertPassword"
                            },
                            "subscriptionId": "11111111-2222-3333-4444-555555555555"
                        },
                        "responses": {
                            "200": {},
                            "202": {}
                        }
                    }
                },
                "x-ms-long-running-operation": true,
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Properties for restore options.",
                                "properties": {
                                    "decryptionCertBase64": {
                                        "description": "The certificate file raw data in Base64 string. This should be the .pfx file with the private key.",
                                        "type": "string"
                                    },
                                    "decryptionCertPassword": {
                                        "description": "The password for the decryption certificate.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "Restore options.",
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Backup": {
                "allOf": [
                    {
                        "description": "Base Resource Object",
                        "properties": {
                            "id": {
                                "description": "URI of the resource.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "location": {
                                "description": "Location of the resource.",
                                "readOnly": false,
                                "type": "string"
                            },
                            "name": {
                                "description": "Name of the resource.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "tags": {
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "List of key value pairs.",
                                "readOnly": false,
                                "type": "object"
                            },
                            "type": {
                                "description": "Type of resource.",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "type": "object",
                        "x-ms-azure-resource": true
                    }
                ],
                "description": "Information related to a backup.",
                "properties": {
                    "properties": {
                        "description": "Properties for a backup.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "backupInfo": {
                                "description": "Holds information for a backup.",
                                "x-ms-client-flatten": true,
                                "properties": {
                                    "backupDataVersion": {
                                        "description": "Version of the backup data.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "createdDateTime": {
                                        "description": "Creation time of the backup.",
                                        "format": "date-time",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "deploymentID": {
                                        "description": "Deployment Id of the stamp.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "encryptionCertThumbprint": {
                                        "description": "The thumbprint of the certificate used to encrypt the backup encryption key.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "oemVersion": {
                                        "description": "OEM version.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "roleStatus": {
                                        "description": "Backup status for each role.",
                                        "readOnly": true,
                                        "items": {
                                            "description": "Backup status for a role.",
                                            "properties": {
                                                "roleName": {
                                                    "description": "Name of the role.",
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "Status of the role.",
                                                    "enum": [
                                                        "Creating",
                                                        "Queued",
                                                        "Running",
                                                        "Deleted",
                                                        "Failed",
                                                        "PartialSucceeded",
                                                        "Succeeded"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "OperationStatus"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "stampVersion": {
                                        "description": "Azure Stack stamp version of the backup.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "status": {
                                        "description": "Current status of the backup.",
                                        "readOnly": true,
                                        "enum": [
                                            "Creating",
                                            "Queued",
                                            "Running",
                                            "Deleted",
                                            "Failed",
                                            "PartialSucceeded",
                                            "Succeeded"
                                        ],
                                        "type": "string",
                                        "x-ms-enum": {
                                            "modelAsString": false,
                                            "name": "OperationStatus"
                                        }
                                    },
                                    "timeTakenToCreate": {
                                        "description": "Duration to create the backup.",
                                        "readOnly": true,
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "type": "object"
            },
            "BackupInfo": {
                "description": "Holds information for a backup.",
                "properties": {
                    "backupDataVersion": {
                        "description": "Version of the backup data.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "createdDateTime": {
                        "description": "Creation time of the backup.",
                        "format": "date-time",
                        "readOnly": true,
                        "type": "string"
                    },
                    "deploymentID": {
                        "description": "Deployment Id of the stamp.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "encryptionCertThumbprint": {
                        "description": "The thumbprint of the certificate used to encrypt the backup encryption key.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "oemVersion": {
                        "description": "OEM version.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "roleStatus": {
                        "description": "Backup status for each role.",
                        "readOnly": true,
                        "items": {
                            "description": "Backup status for a role.",
                            "properties": {
                                "roleName": {
                                    "description": "Name of the role.",
                                    "type": "string"
                                },
                                "status": {
                                    "description": "Status of the role.",
                                    "enum": [
                                        "Creating",
                                        "Queued",
                                        "Running",
                                        "Deleted",
                                        "Failed",
                                        "PartialSucceeded",
                                        "Succeeded"
                                    ],
                                    "type": "string",
                                    "x-ms-enum": {
                                        "modelAsString": false,
                                        "name": "OperationStatus"
                                    }
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "stampVersion": {
                        "description": "Azure Stack stamp version of the backup.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "status": {
                        "description": "Current status of the backup.",
                        "readOnly": true,
                        "enum": [
                            "Creating",
                            "Queued",
                            "Running",
                            "Deleted",
                            "Failed",
                            "PartialSucceeded",
                            "Succeeded"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                            "modelAsString": false,
                            "name": "OperationStatus"
                        }
                    },
                    "timeTakenToCreate": {
                        "description": "Duration to create the backup.",
                        "readOnly": true,
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "BackupList": {
                "description": "List of backups.",
                "properties": {
                    "nextLink": {
                        "description": "URI to the next page.",
                        "type": "string"
                    },
                    "value": {
                        "description": "List of backups.",
                        "items": {
                            "allOf": [
                                {
                                    "description": "Base Resource Object",
                                    "properties": {
                                        "id": {
                                            "description": "URI of the resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "Location of the resource.",
                                            "readOnly": false,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Name of the resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "tags": {
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "description": "List of key value pairs.",
                                            "readOnly": false,
                                            "type": "object"
                                        },
                                        "type": {
                                            "description": "Type of resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "x-ms-azure-resource": true
                                }
                            ],
                            "description": "Information related to a backup.",
                            "properties": {
                                "properties": {
                                    "description": "Properties for a backup.",
                                    "x-ms-client-flatten": true,
                                    "properties": {
                                        "backupInfo": {
                                            "description": "Holds information for a backup.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "backupDataVersion": {
                                                    "description": "Version of the backup data.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "createdDateTime": {
                                                    "description": "Creation time of the backup.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "deploymentID": {
                                                    "description": "Deployment Id of the stamp.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "encryptionCertThumbprint": {
                                                    "description": "The thumbprint of the certificate used to encrypt the backup encryption key.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "oemVersion": {
                                                    "description": "OEM version.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "roleStatus": {
                                                    "description": "Backup status for each role.",
                                                    "readOnly": true,
                                                    "items": {
                                                        "description": "Backup status for a role.",
                                                        "properties": {
                                                            "roleName": {
                                                                "description": "Name of the role.",
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "description": "Status of the role.",
                                                                "enum": [
                                                                    "Creating",
                                                                    "Queued",
                                                                    "Running",
                                                                    "Deleted",
                                                                    "Failed",
                                                                    "PartialSucceeded",
                                                                    "Succeeded"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "OperationStatus"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "stampVersion": {
                                                    "description": "Azure Stack stamp version of the backup.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "Current status of the backup.",
                                                    "readOnly": true,
                                                    "enum": [
                                                        "Creating",
                                                        "Queued",
                                                        "Running",
                                                        "Deleted",
                                                        "Failed",
                                                        "PartialSucceeded",
                                                        "Succeeded"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "OperationStatus"
                                                    }
                                                },
                                                "timeTakenToCreate": {
                                                    "description": "Duration to create the backup.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "BackupModel": {
                "description": "Properties for a backup.",
                "properties": {
                    "backupInfo": {
                        "description": "Holds information for a backup.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "backupDataVersion": {
                                "description": "Version of the backup data.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "createdDateTime": {
                                "description": "Creation time of the backup.",
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string"
                            },
                            "deploymentID": {
                                "description": "Deployment Id of the stamp.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "encryptionCertThumbprint": {
                                "description": "The thumbprint of the certificate used to encrypt the backup encryption key.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "oemVersion": {
                                "description": "OEM version.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "roleStatus": {
                                "description": "Backup status for each role.",
                                "readOnly": true,
                                "items": {
                                    "description": "Backup status for a role.",
                                    "properties": {
                                        "roleName": {
                                            "description": "Name of the role.",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "Status of the role.",
                                            "enum": [
                                                "Creating",
                                                "Queued",
                                                "Running",
                                                "Deleted",
                                                "Failed",
                                                "PartialSucceeded",
                                                "Succeeded"
                                            ],
                                            "type": "string",
                                            "x-ms-enum": {
                                                "modelAsString": false,
                                                "name": "OperationStatus"
                                            }
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "stampVersion": {
                                "description": "Azure Stack stamp version of the backup.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "status": {
                                "description": "Current status of the backup.",
                                "readOnly": true,
                                "enum": [
                                    "Creating",
                                    "Queued",
                                    "Running",
                                    "Deleted",
                                    "Failed",
                                    "PartialSucceeded",
                                    "Succeeded"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                    "modelAsString": false,
                                    "name": "OperationStatus"
                                }
                            },
                            "timeTakenToCreate": {
                                "description": "Duration to create the backup.",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "OperationStatus": {
                "description": "Status of an operation.",
                "enum": [
                    "Creating",
                    "Queued",
                    "Running",
                    "Deleted",
                    "Failed",
                    "PartialSucceeded",
                    "Succeeded"
                ],
                "type": "string",
                "x-ms-enum": {
                    "modelAsString": false,
                    "name": "OperationStatus"
                }
            },
            "RestoreOptions": {
                "description": "Properties for restore options.",
                "properties": {
                    "decryptionCertBase64": {
                        "description": "The certificate file raw data in Base64 string. This should be the .pfx file with the private key.",
                        "type": "string"
                    },
                    "decryptionCertPassword": {
                        "description": "The password for the decryption certificate.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "RoleOperationStatus": {
                "description": "Backup status for a role.",
                "properties": {
                    "roleName": {
                        "description": "Name of the role.",
                        "type": "string"
                    },
                    "status": {
                        "description": "Status of the role.",
                        "enum": [
                            "Creating",
                            "Queued",
                            "Running",
                            "Deleted",
                            "Failed",
                            "PartialSucceeded",
                            "Succeeded"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                            "modelAsString": false,
                            "name": "OperationStatus"
                        }
                    }
                },
                "type": "object"
            },
            "RoleOperationStatusList": {
                "description": "object",
                "items": {
                    "description": "Backup status for a role.",
                    "properties": {
                        "roleName": {
                            "description": "Name of the role.",
                            "type": "string"
                        },
                        "status": {
                            "description": "Status of the role.",
                            "enum": [
                                "Creating",
                                "Queued",
                                "Running",
                                "Deleted",
                                "Failed",
                                "PartialSucceeded",
                                "Succeeded"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                                "modelAsString": false,
                                "name": "OperationStatus"
                            }
                        }
                    },
                    "type": "object"
                },
                "type": "array"
            }
        },
        "parameters": {
            "BackupParameter": {
                "description": "Name of the backup.",
                "in": "path",
                "name": "backup",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        },
                        "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
                    }
                }
            }
        }
    }
}